*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .h1{
    text-align: center;
    color: rgb(2, 36, 57);
    margin: 40px 0;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 0px 2px 3px rgb(250, 10, 130);
    font-family: 'Cookie', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
  }
  .imgDiv img{
    width: 300px;
    height: 300px;
  }
  .imgDiv{
    display: flex;
    justify-content: space-evenly
    
  }